* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#carousel-container-horizontal {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* controles de flecha */

.leftArrowButton {
  position: absolute;
  width: 2.4em;
  height: 2.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 60;
  top: 45%;
  left: 2px;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
}

.rightArrowButton {
  position: absolute;
  width: 2.4em;
  height: 2.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 60;
  top: 45%;
  right: 2px;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
}

.carousel-horizontal:hover .leftArrowButton,
.carousel-horizontal:hover .rightArrowButton,
.carousel-horizontal:hover .carouselFooter {
  opacity: 1;
}

.carousel-vertical:hover .leftArrowButton,
.carousel-vertical:hover .rightArrowButton,
.carousel-vertical:hover .carouselFooter {
  opacity: 1;
}

/* Carrusel principal */

.carousel-horizontal {
  position: relative;
  width: 100%;
  height: 90%;
  object-fit: cover;
}

/* Imagenes del carrusel */

.carousel-images {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

/* footer del carrusel */

.carouselFooter {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: 100;
}

.carouselFooterInfo {
  color: #fff;
  font-weight: bold;
}

/* efecto al cambiar de imagenes */

.carousel-images.fade-out {
  opacity: 0.5;
}

/* footer control */

.footer-control-horizontal {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
}

.footer-control-horizontal img {
  width: 100%;
  height: 35px;
  margin-top: 0.rem;
  object-fit: cover;
  cursor: pointer;
}

.footer-control-horizontal img:hover {
  cursor: pointer;
}

/* estilos vertical */

#carousel-container-vertical {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0.5rem;
}

.carousel-vertical {
  position: relative;
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.footer-control-vertical {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
}

.footer-control-vertical img {
  width: 100%;
  height: 40px;
  margin-top: 0.25rem;
  object-fit: cover;
  cursor: pointer;
}

.footer-control-vertical img:hover {
  cursor: pointer;
}
